vendor/
code/vendor/
code/web/core/
code/web/modules/contrib/
code/web/profiles/contrib/
code/web/themes/contrib/
code/web/libraries/
code/web/sites/*/files/
code/web/sites/*/private/
code/web/sites/*/services.yml
code/web/sites/*/settings.local.php
.lando.local.yml
.idea/
.vscode/
node_modules/
npm-debug.log
.DS_Store
Thumbs.db
